
@{
    ViewBag.Title = "ComplaintForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<script src="~/Scripts/MDB Free/js/bootstrap.min.js"></script>*@
<link href="~/Scripts/MDB Free/css/mdb.min.css" rel="stylesheet" />
<link href="~/Scripts/MDB Free/css/style.min.css" rel="stylesheet" />
<link href="~/Scripts/datepicker/css/datepicker.css" rel="stylesheet" />
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>*@
<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script src="~/Scripts/datepicker/js/bootstrap-datepicker.js"></script>

<style>
    /*body
    {
        background-color: darkcyan
    }*/
    /*div .panel{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    }*/
</style>
<br />

<br />
<div>
    <div class="panel panel-default z-depth-3" style="background-color:teal;">
        <div class="panel-heading" style="background-color:transparent">
            <h2 style="color:white"><b>Complaint Form</b></h2>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-2" style="color:white">Work Order: </label>
                    <div class="col-sm-4">
                        <input id="workOrder" name="WorkOrder" class="form-control" type="text" placeholder="Please Enter Work Order No." />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" style="color:white">System Capacity: </label>
                    <div class="col-sm-4">
                        <input id="systemCapacity" name="SystemCapacity" class="form-control" type="text" placeholder="Please Enter System Capacity" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" style="color:white">Beneficiary Name: </label>
                    <div class="col-sm-4">
                        <input id="beneficiaryName" class="form-control" type="text" placeholder="Please Enter Beneficiary Name" />
                        <input id="beneficiaryID" name="benID" type="hidden"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" style="color:white">Contact Number: </label>
                    <div class="col-sm-4">
                        <input id="contactNumber"  name="Contact"class="form-control" type="text" placeholder="Please Enter Contact Number" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" style="color:white">Village: </label>
                    <div class="col-sm-4">
                        <input id="village" name="Village" class="form-control" type="text" placeholder="Please Enter Village Name" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" style="color:white">Block: </label>
                    <div class="col-sm-4">
                        <input id="block" name="Block" class="form-control" type="text" placeholder="Please Enter Block No." />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" style="color:white">District: </label>
                    <div class="col-sm-4">
                        <input id="district" name="District" class="form-control" type="text" placeholder="Please Enter District" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" style="color:white">Problem Reported Date: </label>
                    <div class="col-sm-4">
                        <input id="reportDate" name="ReportedDate" class="form-control" type="text" placeholder="Please Select Date" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" style="color:white">Pump Type: </label>
                    <div class="col-sm-4">
                        <input id="pumpType" name="PumpType" class="form-control" type="text" placeholder="Please Enter Pump Type" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" style="color:white">Problem Description: </label>
                    <div class="col-sm-4">
                        <textarea class="form-control" name="ProblemDescription" placeholder="Please Enter Problem Description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" style="color:white">Field Assistant: </label>
                    <div class="col-sm-4">
                        <select name="AssignedTo" class="form-control">
                            <option value="0">--Select Field Assistant--</option>
                            @foreach (var item in (ViewBag.EmployeeList as List<tbl_employee>))
                            {                                
                                <option value="@item.EmployeeID">@item.EmployeeName</option>
                                @*<option>User 2</option>
                                <option>User 3</option>
                                <option>User 4</option>
                                <option>User 5</option>*@
                            }
                            
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-2">
                        <button class="form-control btn-success" type="submit" formaction="ComplaintForm" formmethod="post">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>


    </div>
</div>


<script>
    $('#reportDate').datepicker();

    $("#beneficiaryName").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "@Url.Action("AutoComplete","Home")",
                dataType: "json",
                type:"POST",
                data: {
                    prefix: request.term
                },
                success: function (data) {
                    response(data);
                }
                
            });
        },
        minLength: 3,
        select: function (event, ui) {
            debugger;           
            console.log(ui.item.value)
            $.ajax({
                url: "@Url.Action("AutoFill","Home")",
                dataType: "json",
                type:"POST",
                data: { id:ui.item.value },
                success: function (data) {
                    $('#workOrder').val(data.workOrder);
                    $('#village').val(data.village);
                    $('#block').val(data.block);
                    $('#district').val(data.district);
                    $('#contactNumber').val(data.contact);
                    $('#beneficiaryName').val(data.name);
                    $('#beneficiaryID').val(ui.item.value);
                    $('#systemCapacity').val(data.systemCapacity);
                    $('#pumpType').val(data.pumpType);
                    if ($('#contactNumber').val() == null || $('#contactNumber').val() == "") {
                        $('#contactNumber').attr('readonly', true);
                    }
                }
        });
            
        }
        //open: function () {
        //    $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
        //},
        //close: function () {
        //    $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
        //}
    });
</script>